# קבצים של סביבת עבודה וירטואלית
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# קבצים הקשורים לפרויקט Flask
instance/
.env
*.sqlite
*.sqlite3

# כלי פיתוח
.vscode/
.idea/
*.iml

# לוגים
logs/
*.log
nohup.out