.result-container {
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.result-card {
    max-width: 800px;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    border: 1px solid #ddd;
    position: relative;
}

.ant-typography{
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
