.search-bar-container {
  position: fixed;
  bottom: 0;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2000; /* מבטיח שהאלמנט יהיה מעל כל האחרים */
  width: 60%;
  max-width: 100%;
  padding: 20px;
}


.search-input .ant-input-affix-wrapper,
.search-input .ant-input {
  height: 80px !important;
  font-size: 25px;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.search-button {
  height: 50px !important;
  width: 80px !important;
  border-radius: 10px;
  background-color: rgba(62, 145, 161, 0.53);
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-input .ant-input::placeholder {
  color: #999;
  font-size: 16px;
}
